<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<body>

<aside class="sidebar" th:fragment="sidebar">

    <div class="sidebar-brand">
        <span class="brand-icon">🚘</span>

        <div>
            <strong>AutoGestão</strong>
            <small>Pro</small>
        </div>
    </div>

    <div class="sidebar-section">

        <span class="sidebar-title">
            GERENCIAMENTO
        </span>

        <nav class="sidebar-nav">

            <a href="/clientes">
                <span>👥</span>
                Clientes
            </a>

            <a href="#">
                <span>🔧</span>
                Serviços
            </a>

            <a href="#">
                <span>💰</span>
                Financeiro
            </a>

        </nav>

    </div>

</aside>

</body>
</html>